.centered-text-field .MuiInputBase-input {
    text-align: center;
  }

  /* src/tabs/HomePageComponent.css */
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    backdrop-filter: blur(5px); /* Apply blur effect */
    z-index: 999; /* Ensure it is below the content view */
}

.full-content-view {
  animation: rotateIn 0.5s forwards; /* Add rotation animation */
}

@keyframes rotateIn {
  from {
      transform: translate(-50%, -50%) rotateY(90deg);
      opacity: 0;
  }
  to {
      transform: translate(-50%, -50%) rotateY(0deg);
      opacity: 1;
  }
}